black==24.4.2
click==8.1.7
contourpy==1.2.1
cupy-cuda12x==13.2.0
cycler==0.12.1
fastrlock==0.8.2
fonttools==4.53.0
imageio==2.34.2
kiwisolver==1.4.5
lazy_loader==0.4
llvmlite==0.43.0
matplotlib==3.9.0
mypy-extensions==1.0.0
networkx==3.3
numba==0.60.0
numpy==2.0.0
packaging==24.1
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
scikit-image==0.24.0
scipy==1.14.0
six==1.16.0
tifffile==2024.6.18
tomli==2.0.1
tqdm==4.66.4
typing_extensions==4.12.2
